<!--
<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.salesucation.youarehere" version="0.0.3">

    <name>Home Chef</name>

    <description>
        You are here example
    </description>
    <content src="index.html" />
    <author href="https://qy4zhou.github.io">
Qinyuan Zhou    </author>
-->
<!-- We'll include the Barcode plugin as an example -->
<preference name="phonegap-version" value="3.7.0" />
<!--
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
-->
<!--</widget>-->

<widget id="io.github.qy4zhou" version="0.0.1">
    <name>Home Chef</name>
    <description>
        A simple app for storing recipes.
    </description>
    <author email="qinyuan823@gmail.com">
        Katie Zhou
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="io.litehelpers.cordova.sqlite" spec="0.7.6" source="pgb" />
    <feature name="Plugin">
        <param name="android-package" value="com.example.Plugin" />
    </feature>
</widget>
